@charset "utf-8";

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h2 {
    margin: 0rem;
}

.Lecture_intro {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 70rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lec_body {
    width: 100%;
    height: 100%;
    min-height: 70rem;
    display: flex;
    flex-direction: row;
}

.lec_article {
    position: relative;
    min-width: 12rem;
    height: 100%;
    left: 0px;

    flex-direction: column;
    padding: 2rem;
}

.clickedStudy {
    width: 8rem;
    height: 3rem;
    margin: 1rem auto 0rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: white;
}

.button_QA {
    width: 8rem;
    height: 3rem;
    margin: 0rem auto 1rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: white;
}

.userState {
    width: 8rem;
    height: 3rem;
    margin: 0rem auto 0rem;
  
}

.lec_section {
    min-height: 70rem;
    width: 100%;
    height: 100%;
}

.lec_section2 {
    min-height: 70rem;
    width: 80%;
    min-width: 30rem;
    height: 100%;
    background: rgba(205, 205, 206, 0.39);
    padding: 2rem;
}


.lec_header {
    position: relative;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    background: rgba(125, 173, 71, 0.3);
}

.lec_nav {
    width: 100%;
    height: 8rem;
    min-height: 8rem;
    left: 0px;
    overflow: hidden;
    background: rgba(125, 173, 71, 0.6);
    display: flex;
    flex-direction: column;
}

.lec_he0, .lec_he2 {
    position: relative;
    width: auto;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #000000;
}

    .lec_he0 p, .lec_he2 p {
        margin: 1rem 2rem;
    }



.lec_bo1 {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-size: 2rem;
    color: #000000;
    margin: auto 0;
}

    .lec_bo1 p {
        margin: 0rem auto 0rem 17rem;
    }

.lec_bo2 p {
    margin: 0rem auto 0rem 17rem;
}


.lec_bo2 {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5rem;
    color: #000000;
    margin: auto 0;
}

.lec_bo33 {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    padding-left: 17rem;
}


.lec_bo3, .lec_bo4 {
    position: relative;
    width: auto;
    margin: 0rem 2rem 0rem 0rem;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    color: #000000;
}
