@charset "utf-8";

.TestCode {
    float: center;
    width: 100%;
}

.code_header {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;

    background: rgba(125, 173, 71, 0.3);
    border: 1px solid #0F194A;
    box-sizing: border-box;
}

.code_he0 {
    position: absolute;
    width: 87px;
    height: 19px;
    left: 17px;
    top: calc(50% - 19px/2 + 0.5px);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.code_he1 {
    position: absolute;
    width: 87px;
    height: 19px;
    left: 134px;
    top: calc(50% - 19px/2 + 0.5px);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.code_he2 {
    position: absolute;
    width: 99px;
    height: 19px;
    left: 260px;
    top: calc(50% - 19px/2 + 0.5px);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}



.code_body {
    position: absolute;
    width: 100%;
    height: 964px;
    left: 0px;
    top: 0px;
    bottom: 20px;

    /*background: #FFFFFF;
    border: 1px solid #0F194A;
    box-sizing: border-box;*/
}

.code_nav {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 60px;

    border: 1px solid #0F194A;
    box-sizing: border-box;

}

.code_bo1 {
    position: absolute;
    width: 70px;
    height: 19px;
    left: 17px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #000000;
}



.button_exec {
    position: absolute;
    width: 50px;
    height: 35px;
    right: 18px;
    top: 10px;


    background: rgba(239, 241, 236, 0.6);
    border-radius: 5px;
}

.code_article {
    position: absolute;
    width: 20%;
    height: 844px;
    left: 0px;
    top: 119px;

    border: 1px solid #0F194A;
    box-sizing: border-box;
}

.code_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 80%;
    height: 606px;
    left: 20%;
    top: 120px;

    border: 1px solid #0F194A;
    box-sizing: border-box;
}

.code_bo2 {
    position: absolute;
    width: 70px;
    height: 19px;
    left: 0px;
    top: 7px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #000000;
}

/*.CodeEditor {
    position: absolute;
    width: 100%;
    height: 570px;
    left: 20%;
    top: 15px;

    border: 1px solid #0F194A;
    box-sizing: border-box;
}*/


.code_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 80%;
    height: 237px;
    left: 20%;
    top: 726px;

    /*border: 1px solid #444444;
    border-left: 0px;*/
}

table {
    width: 100%;
    height: 100%;
    /*border: 1px solid #444444;*/
    border-collapse: collapse;
}

td {
    border: 1px solid #444444;
}

.td1 {
    color: #444444;
    padding-left: 9px;
    height: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.td2 {
    color: #444444;
    padding-left: 9px;
}

.code_footer {
    position: absolute;
    width: 99.85%;
    height: 60px;
    top: 963px;
    border: 1px solid #444444;
    /*border-top: 1px solid #444444*/
}

.qna {
    position: absolute;
    width: 50px;
    height: 35px;
    left: 40px;
    top: 12px;

    background: rgba(125, 173, 71, 0.6);
    border-radius: 5px;
}

.help {
    position: absolute;
    width: 60px;
    height: 35px;
    left: 1800px;
    top: 12px;

    background: rgba(125, 173, 71, 0.6);
    border-radius: 5px;
}