div{
    display: block;
}
ol, ul {
  list-style: none;
}

.list-question-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 10px 15px 30px;

    position: absolute;
    width: 100%;
    height: 91px;
    left: 0px;
    top: 30px;

    background: rgba(125, 173, 71, 0.3);

  }

.question-header_title {
    position: static;
    width: 181px;
    height: 38px;
    left: 30px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;

}

.question-header_sub-title{
    position: static;
    width: 498px;
    height: 24px;
    left: 30px;
    top: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;

}

.question_body{
    position: absolute;
    width: 1059px;
    height: 687px;
    left: 194px;
    top: 246px;
}

.navbar-menu{
    display: flex;
    position: absolute;
    width: 1059px;
    height: 687px;
    left: 20px;
    top: 80px;

}

nav a{
    text-decoration: none;
    margin-left: 20px;
    color: #000000;
}

.write-button{
    position: absolute;
    background: rgba(125, 173, 71, 0.6);
    border-radius: 5px;
    width: 120px;
    height: 35px;
    left: 1250px;
    top: 80px;
    border-color: white;

    justify-content: center;
    align-items: center;
    padding: 10px;
}

.question-list-container{
    display: flex;
    flex-direction: column;
}


/*Post Css*/
.post-question-item-li{
    width: 1059px;
    height: 110px;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 15px;

}
.question-container{
    position: absolute;
    width: 1059px;
    height: 110px;
    left: 150px;
    top: 180px;
    padding-left: 40px;

    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 15px;
}

span{
    margin-right: 20px;
}


