.App {
    text-align: left;
  }
  
  main{
    position: absolute;
    width: 1440px;
    height: 934px;
    left: 0px;
    top: 90px;
  }
  
  .question-header{
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0;
    margin: 0px;
    padding: 20px 0 0 50px; /*top right bottom left*/
  
    background: rgba(125, 173, 71, 0.3);
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
  
    
  }
  
  .return-button{
    position: absolute;
    width: 120px;
    height: 35px;
    left: 59px;
    top: 37px;
  
    background: rgba(125, 173, 71, 0.6);
    border-radius: 5px;
    border-color: white;
  }
  
  
  .form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
  
    position: absolute;
    width: 1000px;
    height: 627px;
    left: 220px;
    top: 153px;
  
    border: 1px solid rgba(15, 25, 74, 0.6);
    box-sizing: border-box;
  
    margin: 0 auto;
    border: 1px solid #333;
  }
  
  .route-input{
    width: 171px;
    height: 35px;
   
    margin: 10px 0px 10px 0px; 
  
    background: #FFFFFF;
    border: 1px solid #0F194A;
    box-sizing: border-box;
    border-radius: 5px;
    
  
  }
  
  select{
    width: 171px;
    height: 35px;
    margin-left: 10px;
  }
  
  .title{
    position: static;
    width: 900px;
    height: 80px;
    left: 50px;
    top: 163px;
  }
  
  .title-input {
    width: 900px;
    height: 35px;
    margin: 10px 0px 10px 0px; 
  
    background: #FFFFFF;
    border: 1px solid #0F194A;
    box-sizing: border-box;
    border-radius: 5px;
    
  }
  
  .assign-button{
  /* 
    position: absolute; */
    float: right;
    width: 1000px;
    height: 35px;
    left: 50px;
    top: 450px;
    margin: 20px 0px 0px 700px;
  
  }
  
  .cancel-button{
  
    width: 60px;
    height: 35px;
    left: 904px;
    top: 0px;
  
    background: rgba(125, 173, 71, 0.6);
    border-radius: 5px;
    border-color: white;
  }
  
  .submit-button{
    width: 60px;
    height: 35px;
    left: 840px;
    top: 0px;
    margin-left: 10px;
  
    background: rgba(125, 173, 71, 0.6);
    border-radius: 5px;
    border-color: white;
  }
  
  .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    width: 880px;
    min-height: 200px;
  }