div{
    display: block;
}
ol, ul {
  list-style: none;
}

.list-question-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 10px 15px 30px;

    position: absolute;
    width: 100%;
    height: 91px;
    left: 0px;
    top: 30px;

    background: rgba(125, 173, 71, 0.3);

  }

.question-header_title {
    position: static;
    width: 181px;
    height: 38px;
    left: 30px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;

}

.question-header_sub-title{
    position: static;
    width: 498px;
    height: 24px;
    left: 30px;
    top: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;

}

.question_body{
    position: absolute;
    width: 1059px;
    height: 687px;
    left: 194px;
    top: 246px;
}

.navbar-menu{
    display: flex;
    position: absolute;
    width: 1059px;
    height: 687px;
    left: 20px;
    top: 80px;

}

nav a{
    text-decoration: none;
    margin-left: 20px;
    color: #000000;
}

.write-button{
    position: absolute;
    background: rgba(125, 173, 71, 0.6);
    border-radius: 5px;
    width: 120px;
    height: 35px;
    left: 1250px;
    top: 80px;
    border-color: white;

    justify-content: center;
    align-items: center;
    padding: 10px;
}

.question-list{
    display: flex;
    flex-direction: column;
}

.question-container{
    position: absolute;
    width: 1059px;
    height: 110px;
    left: 150px;
    top: 180px;
    padding-left: 40px;

    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 15px;
}

span{
    margin-right: 20px;
}



/*
.question-container{
    position: absolute;
    width: 1059px;
    height: 110px;
    left: 50px;
    top: 50px;

    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 15px;
}

.question__title{
    position: absolute;
    width: 146px;
    height: 36px;
    left: 50px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}
.question__footer{
    position: absolute;
    width: 950px;
    height: 17px;
    left: 40px;
    bottom: 21px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.question__comment{
    float: right;
}


.navbar-container_lecture{
    position: absolute;
    width: 54px;
    height: 40px;
    left: 0px;
    top: 133px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    /* display: inline-block;
    position: absolute;
    width: 50%;
    height: 40px;
    left: 13px;
    top: 150px; 
} 


 .navbar-container_qna{
    position: absolute;
    width: 54px;
    height: 40px;
    left: 76px;
    top: 133px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  
    color: #000000;
} 

.write-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    position: absolute;
    background: rgba(125, 173, 71, 0.6);
    border-radius: 10px;
    width: 120px;
    height: 35px;
    left: 1200px;
    top: 50px;
    background: rgba(125, 173, 71, 0.6);
    border-radius: 5px;
    border-color: white;
}

.navbar-container a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    font-size: 17px;
} */


